<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="includes/base :: common_header(~{},~{::link},~{::style})">
    <link rel="stylesheet" th:href="@{/css/tab-common.css}">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/multiple-select/multiple-select.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/fancybox/fancybox.css}">

    <style>
        .form-check {
            display: inline-block!important;
        }

        .attachment .item {
            display: inline-block;
            position: relative;
        }

        .editable-table {
            width: auto;
        }

        .editable-table th,
        .editable-table td {
            padding: 0;
        }

        .editable-table input {
            width: 100%!important;
            border: none;
            outline: none;
        }

        .sharp-form .form-control {
            width: 100%!important;
        }

        .form-inline .sharp-form label.col-form-label {
            display: block;
        }

        .operator.btn-link {
            padding: 0 15px;
        }

        .picture-container .item {
            margin-bottom: 15px;
        }

        #accessoryList td:nth-child(3) {
            position: relative;
        }

        #accessoryList td:nth-child(3) img {
            position: absolute;
            top: 2px;
            left: 50%;
            transform: translateX(-50%);
            max-width: 100%;
            overflow: hidden;
        }

        #accessoryList td:nth-child(3) input {
            /*background-color: blue;*/
        }

        .col-sm-0 {
            display: none!important;
        }

        .form-group.param {
            margin-bottom: 0;
        }

        .attachment.usdPriceTemplate .attachment-items,
        .attachment.rmbPriceTemplate .attachment-items {
            display: inline-block;
            margin-left: 15px;
        }

        .attachment.usdPriceTemplate .item:before,
        .attachment.rmbPriceTemplate .item:before{
            background: transparent;
        }

        #else-form .editable-table {
            width: 100%;
        }

        #else-form, .form-fluid {
            align-items: flex-start;
        }

        @media screen and (min-width: 576px) {
            .form-inline .editable-table.accessoryList, .param-container {
                width: calc(100% - 75px);
            }

            #param {
                width: 100%;
            }
        }

        /*[(${formBO.form.getAdditionalInfo['css'] == null ? '' : formBO.form.getAdditionalInfo['css']})]*/
    </style>
</head>
<body class="app">
<th:block th:replace="includes/base :: common_content(~{::div})">
    <div class="container-fluid" style="padding-bottom: 65px;">
        <div class="card">
            <div class="card-header">基本信息</div>
            <div class="card-body">
                <form class="form-inline row" id="t_product" name="t_product" onsubmit="return false">
                    <input type="hidden" id="id" th:value="${query['copy'] ne null && query['copy'] == 'true' ? '' : formBO.instanceId}">
                    <div class="form-group col-4">
                        <label class="col-form-label required" for="code">编号</label>
                        <input class="form-control" type="text" id="code" name="code" th:value="${query['copy'] ne null && query['copy'] == 'true' ? '' : formBO.data.code}" pattern="^[0-9a-zA-Z_\/%\-]{1,}$" th:disabled="${query['copy'] ne null && query['copy'] == 'true' ? false : formBO.data.code}" required>
                    </div>
                    <div class="form-group col-8">
                        <label class="col-form-label required" for="name">品&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                        <input class="form-control" type="text" id="name" name="name" th:value="${formBO.data.name}" required>
                    </div>
                    <div class="form-group col-12 col-sm-4">
                        <label class="col-form-label required" for="category">分类</label>
                        <sp:select class="form-control" id="category" name="category" key="PRODUCT_TYPE" th:value="${formBO.data.category ne null ? formBO.data.category : ''}" required />
                    </div>
                    <div class="form-group col-8 col-sm-4">
                        <label class="col-form-label required" for="supplier">供应商</label>
                        <sp:select class="form-control" id="supplier" name="supplier" key="sys_dict_supplier" th:value="${formBO.data.supplier ne null ? formBO.data.supplier : ''}" required />
                    </div>
                    <div class="form-group col-4 col-sm-4">
                        <label class="col-form-label required" for="supplierCode">型&nbsp;&nbsp;&nbsp;&nbsp;号</label>
                        <input class="form-control" type="text" id="supplierCode" supplierCode="name" th:value="${formBO.data.supplierCode}" required>
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label" for="usdPrice">美&nbsp;&nbsp;&nbsp;&nbsp;金</label>
                        <input class="form-control" type="text" id="usdPrice" name="usdPrice" th:value="${formBO.data.usdPrice}" placeholder="美金未税价格">
                    </div>
                    <div class="form-group col-4">
                        <label class="col-form-label" for="rmbPrice">人民币</label>
                        <input class="form-control" type="text" id="rmbPrice" name="rmbPrice" th:value="${formBO.data.rmbPrice}" placeholder="人民币含税价格">
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="remark">备&nbsp;&nbsp;&nbsp;&nbsp;注</label>
                        <textarea class="form-control" id="remark" name="remark" th:text="${formBO.data.remark}"></textarea>
                    </div>
                    <div class="form-group col-12" style="margin-bottom: 0;">
                        <label class="col-form-label">参&nbsp;&nbsp;&nbsp;&nbsp;数</label>
                        <div th:id="${formBO.data['attrFormId']}" class="param-container">
                            <sp:form th:id="${formBO.data['attrFormId'] == null ? '864287608526680064' : formBO.data['attrFormId']}" th:value="${formBO.data['attrInstanceId']}" form-page="modules/product/form-tag" hide-form-tag th:attr="isCopy=${query['copy'] ne null && query['copy'] == 'true' ? true : false}"></sp:form>
                        </div>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label class="col-form-label" for="usdPriceTemplate">$模版</label>
                        <sp:file form-name="t_product" name="usdPriceTemplate" group="template" sp:value="${formBO.data.usdPriceTemplate}" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></sp:file>
                    </div>
                    <div class="form-group col-12 col-sm-6">
                        <label class="col-form-label" for="rmbPriceTemplate">¥模版</label>
                        <sp:file form-name="t_product" name="rmbPriceTemplate" group="template" sp:value="${formBO.data.rmbPriceTemplate}" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"></sp:file>
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label" for="description">含配件</label>
                        <textarea class="form-control" id="description" name="description" th:text="${formBO.data.description}"></textarea>
                    </div>
                    <div class="form-group col-12">
                        <label class="col-form-label">配件</label>
                        <table class="table editable-table accessoryList table-bordered table-responsive-sm table-sm" id="accessoryList" name="accessoryList">
                            <thead>
                            <tr style="text-align: left;">
                                <th>
                                    <label class="col-form-label required" style="display: block">名称</label>
                                </th>
                                <th style="width: 100px">
                                    <label class="col-form-label required" style="display: block;">单价</label>
                                </th>
                                <th style="width: 100px;">
                                    <label class="col-form-label" style="display: block; width: 100%; text-align: center">图片</label>
                                </th>
                                <th class="operator-label"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${formBO.data.accessoryList}">
                                <td th:each="col: ${row}">
                                    <input th:if="${colStat.index != 2}" type="text" class="form-control" th:value="${col}">
                                    <th:block th:if="${colStat.index == 2}">
                                        <input type="hidden" class="form-control" th:value="${col}">
                                        <img th:if="${col != ''}" height="30px" th:src="${col + '?x-oss-process=image/resize,h_30'}">
                                    </th:block>
                                </td>
                                <td class="operator btn-link">X</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">其他信息</div>
            <div class="card-body">
                <form class="form-inline row" id="else-form" name="else-form">
<!--                    <div class="col-12 col-sm-4">-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-form-label" for="certificate">认证</label>-->
<!--                            <input class="form-control" type="text" id="certificate" name="certificate" th:value="${formBO.data.certificate}">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-12 col-sm-4">-->
<!--                        <div class="form-group">-->
<!--                            <label class="col-form-label" for="moq">MOQ</label>-->
<!--                            <input class="form-control" type="text" id="moq" name="moq" th:value="${formBO.data.moq}">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="col-sm-4"></div>-->
                    <div class="col-12 col-sm-4">
                        <table class="table editable-table accessoryList table-bordered table-responsive-sm table-sm" id="sellingPoint" name="sellingPoint">
                            <thead>
                                <tr style="text-align: left;">
                                    <th>
                                        <label class="col-form-label" style="display: block">产品卖点</label>
                                    </th>
                                    <th class="operator-label"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="row : ${formBO.data.sellingPoint}">
                                    <td th:each="col: ${row}">
                                        <input type="text" class="form-control" th:value="${col}">
                                    </td>
                                    <td class="operator btn-link">X</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div class="form-group">
                            <label class="col-form-label" for="certificate">认证</label>
                            <input class="form-control" type="text" id="certificate" name="certificate" th:value="${formBO.data.certificate}">
                        </div>
                        <div class="form-group">
                            <label class="col-form-label" for="moq">MOQ</label>
                            <input class="form-control" type="text" id="moq" name="moq" th:value="${formBO.data.moq}">
                        </div>
                        <table class="table editable-table accessoryList table-bordered table-responsive-sm table-sm" id="leadTime" name="leadTime">
                            <thead>
                            <tr style="text-align: left;">
                                <th>
                                    <label class="col-form-label" style="display: block">交货时间</label>
                                </th>
                                <th class="operator-label"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${formBO.data.leadTime}">
                                <td th:each="col: ${row}">
                                    <input type="text" class="form-control" th:value="${col}">
                                </td>
                                <td class="operator btn-link">X</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12 col-sm-4">
                        <table class="table editable-table accessoryList table-bordered table-responsive-sm table-sm" id="packingInformation" name="packingInformation">
                            <thead>
                            <tr style="text-align: left;">
                                <th>
                                    <label class="col-form-label" style="display: block">包装参数</label>
                                </th>
                                <th>
                                    <label class="col-form-label" style="display: block">包装值</label>
                                </th>
                                <th class="operator-label"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="row : ${formBO.data.packingInformation}">
                                <td th:each="col: ${row}">
                                    <input type="text" class="form-control" th:value="${col}">
                                </td>
                                <td class="operator btn-link">X</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="card-header">产品图片
                <div class="ml-3" style="display: inline-block;" id="btn-file">
                <label class="btn btn-primary btn-sm btn-upload" style="margin: 2px" for="pictures_file"><i class="fa fa-upload"></i> 上传</label>
            </div></div>
            <div class="card-body">
                <div class="picture-container">
                    <input type="hidden" th:value="${formBO.data.pictures ne null ? T(com.rick.common.util.JsonUtils).toJson(formBO.data.pictures) : '[]'}">
                    <input style="display: none;" type="file" multiple name="pictures_file" id="pictures_file" accept="image/*" data-group-name="pictures" onchange="t_product_pictures_file.ajaxFileUpload()">
                    <div class="attachment-items row">
                        <th:block th:if="${formBO.data.pictures ne null}">
                            <div class="item col-12 col-md-2" style="position: relative" th:each="f : ${formBO.data.pictures}">
                                <a class="picture" style="display: block; padding: 4px; border: 1px solid #e3e3c7" data-fancybox="picture" th:attr="data-src=${f.url}, data-caption=${f.fullName}">
                                    <img th:src="${f.url + '?x-oss-process=image/resize,w_200'}" th:alt="${f.fullName}" style="width: 100%;">
                                </a>
                                <a class="attachment_delete_btn" style="position: absolute; right: 4px; top: 0;" href="javascript:;" th:onclick="t_product_pictures_file.deleteAttachment([[${f.id}]], this)">X</a>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
        <input style="display: none;" type="file" accept="image/*" id="accessory_file" name="accessory_file" data-group-name="pictures" onchange="accessoryFile.ajaxFileUpload()">
    </div>
    <div style="position: fixed; left: 0; bottom: 0; width: 100%; padding: 15px; border-top: 1px solid #c8ced3; background-color: #FFFFFF; text-align: center">
        <button type="button" class="btn btn-primary btn-save mr-2" th:onclick="[(${formBO.form.code})]FormDOM.save()"><i class="fa fa-save"></i> 保存</button>
        <button type="button" class="btn btn-secondary btn-export" th:onclick="exportPrice()"><i class="fa fa-upload"></i> 导出报价单</button>
    </div>
</th:block>
<th:block th:replace="includes/base :: common_js(~{::script})">
    <script type="text/javascript" th:src="@{/plugins/jquery.form2json.js}"></script>

    <script type="text/javascript" th:src="@{/plugins/fancybox/fancybox.min.js}"></script>

    <script th:src="@{/plugins/ajaxfileupload.js}"></script>
    <script th:src="@{/js/upload.js}"></script>
    <script th:src="@{/js/download.js}"></script>

    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/plugins/bootstrap-datepicker/js/bootstrap-datepicker.zh-CN.min.js}"></script>
    <script th:src="@{/plugins/multiple-select/multiple-select.min.js}"></script>
    <script th:src="@{/editable-table/editable-table.js}"></script>

    <script th:src="@{/js/form-support.js}"></script>
    <script th:src="@{/js/jquery.dialog.js}"></script>
    <script th:inline="javascript">
        let formBO = /*[[${ formBO }]]*/
        let originalFormData = /*[[${ formBO.data }]]*/
        let formCode = /*[[${formBO.form.code}]]*/
        let codeDOM = document.getElementById("code")
        let p = [[${formBO.propertyList}]]
        let isCopy =  /*[[${ query['copy'] ne null && query['copy'] == 'true' }]]*/


        hasAuthority = true
        let readonly = !hasAuthority || [[${query.readonly}]]

        let formDOM = window[formCode + 'FormDOM'] = document.forms[0]
        sharpFormInit(formDOM, document.getElementById("id"), {originalFormData, formCode, p, readonly, actionUrl: isCopy ? (/*[[${formBO.form.id}]]*/) : formBO.actionUrl, method: isCopy ? 'POST' : formBO.method}, null,
            () => {
            // 其他验证 + error 样式
            let valid = formDOM.validElse($('#supplier').multipleSelect('getSelects').length > 0 && $('#supplier').multipleSelect('getSelects')[0] != '', document.getElementById('supplier').nextSibling)
            return valid
        });

        // 初始化 table
        let accessoryFileDOM = document.getElementById("accessory_file")

        let accessoryFile = new FileUpload("accessory_file", false, attachment => {
            console.log("attachment = ", attachment)
            let upload = $('<img height="30px" src="'+attachment[0].url+'?x-oss-process=image/resize,h_30">');
            $(accessoryFileDOM.target).append(upload)
            if (upload.prev()[0].tagName === 'IMG') {
                upload.prev().remove()
            }

            $(accessoryFileDOM.target).find("input[type=hidden]").val(attachment[0].url)
            return false
        });

        $("#accessoryList").delegate("td, input, img","click", function(){
            if (this.tagName === 'TD' && $(this).index() === 2) {
                accessoryFileDOM.target = this
                $(this).find("input[type=text]").attr("type", "hidden")
                $('#accessory_file').click()
            }
        });

        $('.btn-save').removeAttr("onclick").on('click', function () {
            if (t_productFormDOM.valid()) {
                washFormDOM.save(res => {
                    if (res.success) {
                        t_productFormDOM.save((res) => {
                            codeDOM.setAttribute("disabled", "true")
                            toastr.success("保存成功")
                        }, formData => {
                            formData.attrInstanceId = res.data
                            formData.pictures = t_product_pictures_file.getAttachments();
                            formData.certificate = document.getElementById("certificate").value
                            formData.moq = document.getElementById("moq").value
                        })
                    }
                }, formData => {
                    $('.sharp-form').not("table").find("input").each(function () {
                        if (this.name) {
                            formData[this.name] = this.value
                        }
                    })
                })
            }
        })

        function t_product_usdPriceTemplate_file_uploadConsumer(attachment) {
            // 删除全部
            t_product_usdPriceTemplate_file.deleteAllAttachment()
        }

        function t_product_rmbPriceTemplate_file_uploadConsumer(attachment) {
            // 删除全部
            t_product_rmbPriceTemplate_file.deleteAllAttachment()
        }

        function t_product_pictures_file_itemSupplier(attachment) {
            return "<div class=\"item col-12 col-md-2\">\n" +
                "    <a class=\"picture\" style=\"display: block; padding: 4px; border: 1px solid #e3e3c7\" data-fancybox=\"picture\" data-src=\""+attachment.url+"\" data-caption=\""+attachment.fullName+"\">\n" +
                "        <img src=\""+attachment.url+"?x-oss-process=image/resize,w_200\" th:alt=\""+attachment.fullName+"\" style=\"width: 100%;\">\n" +
                "    </a>\n" +
                "    <a class=\"attachment_delete_btn\" style=\"position: absolute; right: 4px; top: 0;\" href=\"javascript:;\" onclick=\"t_product_pictures_file.deleteAttachment('"+attachment.id+"', this)\">X</a>" +
                "</div>";
        }

        Fancybox.bind('a.picture', {});

        function exportPrice() {
            let rate = /*[[${ formBO.data.rate }]]*/
            let customerDictList = /*[[${ formBO.data.customerDictList }]]*/
            let options = []
            options.push("<option value=''>&nbsp;</option>")
            for (let dict of customerDictList) {
                options.push("<option value=\""+dict.name+"\">"+dict.label+"</option>")
            }

            $.dialog({
                content: '<div class="container">\n' +
                    '    <form class="form-horizontal" id="priceForm" name="priceForm" onsubmit="return false">\n' +
                    '        <input type="hidden" id="productId" value="'+document.getElementById("id").value+'">\n' +
                    '       <div class="form-group row">\n' +
                    '           <label for="quantity" class="col-form-label col-sm-2 required">客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</label>\n' +
                    '           <div class="col-sm-10">\n' +
                    '               <select class="form-control" id="customerId" name="customerId">' +
                    '                   '+options.join('')+'' +
                    '               </select>\n' +
                    '            </div>\n' +
                    '       </div>\n' +
                    '        <div class="form-group row">\n' +
                    '            <label class="col-form-label col-sm-2 required">报价币别</label>\n' +
                    '            <div class="col-sm-10">\n' +
                    '                <div class="form-check col-form-label">\n' +
                    '                    <input class="form-check-input" type="radio" name="priceType" id="usdPriceType" value="1" checked="checked">\n' +
                    '                    <label class="form-check-label" for="usdPriceType">美金FOB</label>\n' +
                    '                </div>\n' +
                    '                <div class="form-check col-form-label">\n' +
                    '                    <input class="form-check-input" type="radio" name="priceType" id="rmbPriceType" value="0">\n' +
                    '                    <label class="form-check-label" for="rmbPriceType">人民币含税EXW</label>\n' +
                    '                </div>\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '        <div class="form-group row">\n' +
                    '            <label for="rate" class="col-form-label col-sm-2">汇率</label>\n' +
                    '            <div class="col-sm-10">\n' +
                    '               <input type="number" class="form-control" id="rate" name="rate" value="'+rate+'">\n' +
                    '            </div>\n' +
                    '        </div>\n' +
                    '       <div class="form-group row">\n' +
                    '           <label for="quantity" class="col-form-label col-sm-2 required">利润率</label>\n' +
                    '           <div class="col-sm-10">\n' +
                    '               <input type="number" class="form-control" id="step" name="step" value="0.9" required>\n' +
                    '            </div>\n' +
                    '       </div>\n' +
                    // '        <div class="form-group row">\n' +
                    // '            <label for="rate" class="col-form-label col-sm-2">INCO term</label>\n' +
                    // '            <div class="col-sm-10">\n' +
                    // '               <select type="number" class="form-control" id="incoterm" name="incoterm" placeholder="美金报价需要填写汇率">' +
                    // '                   <option value="FOB" selected>FOB</option>' +
                    // '                   <option value="EXW">EXW</option>' +
                    // '               </select>\n' +
                    // '            </div>\n' +
                    // '        </div>\n' +
                    // '        <div class="form-group row">\n' +
                    // '            <label class="col-form-label col-sm-2 required">利润率</label>\n' +
                    // '            <div class="col-sm-10">\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-1" value="0.95" checked="checked">\n' +
                    // '                    <label class="form-check-label" for="step-1">0.95</label>\n' +
                    // '                </div>\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-2" value="0.9">\n' +
                    // '                    <label class="form-check-label" for="step-2">0.9</label>\n' +
                    // '                </div>\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-3" value="0.85">\n' +
                    // '                    <label class="form-check-label" for="step-3">0.85</label>\n' +
                    // '                </div>\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-4" value="0.8">\n' +
                    // '                    <label class="form-check-label" for="step-4">0.8</label>\n' +
                    // '                </div>\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-5" value="0.75">\n' +
                    // '                    <label class="form-check-label" for="step-5">0.75</label>\n' +
                    // '                </div>\n' +
                    // '                <div class="form-check col-form-label">\n' +
                    // '                    <input class="form-check-input" type="radio" name="step" id="step-6" value="0.7">\n' +
                    // '                    <label class="form-check-label" for="step-6">0.7</label>\n' +
                    // '                </div>\n' +
                    // '            </div>\n' +
                    // '        </div>\n' +
                    '       <div class="form-group row">\n' +
                    '           <label for="quantity" class="col-form-label col-sm-2 required">订单数量</label>\n' +
                    '           <div class="col-sm-10">\n' +
                    '               <input type="number" class="form-control" id="quantity" name="quantity" value="1" required>\n' +
                    '            </div>\n' +
                    '       </div>\n' +
                    '    </form>\n' +
                    '</div>',
                title: "报价参数",
                mounted: function (obj) {
                    $('#customerId').multipleSelect({
                        filter: true,
                        single: true,
                        placeholder: '请选择客户'
                    })
                },
                ok: {
                    label: '确定',
                    success: function (value) {
                        // console.log('success', value)
                        let formData = $('#priceForm').form2json()
                        if (!formData.customerId) {
                            toastr.error('请选择客户')
                            return
                        }

                        console.log('data = ', $('#priceForm').form2json())
                        value.$modal.modal('hide')
                        $.LoadingOverlay('show')
                        download("/products/export-price?" + $.param(formData), () => {
                            toastr.success("报价单导出完成")
                            $.LoadingOverlay('hide')
                        });
                    }
                },
            })
        }

        /*[(${formBO.form.getAdditionalInfo['js'] == null ? '' : formBO.form.getAdditionalInfo['js']})]*/
    </script>
</th:block>
</body>
</html>